<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index.html</title>
    <!-- Bootstrap dependencies -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <style>
        
    
    </style>
    <div class = "container-fluid">
        <!-- Create Scrape Button-->
        <div class = "jumbotron text-center">
            <h1> Mission To Mars </h1>
            <p>
                <a class = "btn btn-primary btn-lg" href = "/scrape" role="button"> Scrape For Latest News </a>
            </p>
        </div>

        <!-- Data Scraped from NASA website -->
        <!-- Latest Mars News -->
        <div class="row">
            <div class="col-md-12">
                <h1>  Latest Mars News </h>
                <h2> {{data.news_title}}</h2>
                <small> {{data.news_p}}</small>
            </div>
        </div>

        <br>

        <!-- Featured image-->
        <div class="row">
            <div class="col-md-6">
                <h1>  Featured Mars Image </h>
                <br>
                <img src = "{{data.featured_image_url}}">
            </div>
        </div>

        <br> <br>

        <!-- Create image grid for hemisphere -->
        <h1 style = "text-align: center;"> Mars Hemispheres </h1>
        <div class="map">
            <div class="row">
                {% for hemisphere in data.hemispheres %}
                <div class="col-sm-6">
                    <img class="img-fluid" class="img-responsive" src="{{hemisphere['img_url']}}">
                    <div class="desc" style = "text-align : center;"> <strong> {{hemisphere['title']}} </strong> </div>
                </div>
                {% endfor %}
            </div>
        </div>

        
    </div>
</body>
</html>