<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index.html</title>
    <!-- Bootstrap dependencies -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <style>
        
    
    </style>

    <div class = "container">
        <div class = "jumbotron text-center">
            <h1> Mission To Mars </h1>
            <p>
                <a class = "btn btn-primary btn-lg" href = "/scrape" role="button"> Scrape </a>
            </p>
        </div>

        <!-- Data Scraped from NASA website -->

        <div class="row" id = "nasa-data">
            <div class="col-md-12">
                <h1>  Latest Mars News </h>
                <h2> {{data.news_title}}</h2>
                <small> {{data.news_p}}</small>
            </div>
        </div>

        
    </div>
</body>
</html>