<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index.html</title>
    <!-- Bootstrap dependencies -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <style>
        aside {
            width: 40%;
            padding-left: 20px;
            margin-left: 100px;
            float: right;
            box-shadow: inset 5px 0 5px -5px #29627e;
            font-style: italic;
            color: #29627e;
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    </style>

    <!-- Contents of Webpage -->
    <div class = "container-fluid">
        <!-- Create Scrape Button-->
        <div class = "jumbotron text-center">
            <h1> Mission To Mars </h1>
            <p>
                <a class = "btn btn-primary btn-lg" href = "/scrape" role="button"> Scrape For Latest News </a>
            </p>
        </div>

        <!-- Data Scraped from NASA website -->
        <div class="row">
            <!-- Latest Mars News -->
            <div class="col-md-12">
                <h2>  Latest Mars News </h2>
                <h3> {{data.news_title}}</h3>
                <small> {{data.news_p}}</small>
            </div>
        </div>

        <br>

        <div class="row">
            <!-- Featured image-->
            <div class="col-sm-6">
                <h2>  Featured Mars Image </h2>
                <img src = "{{data.featured_image_url}}" style = "float:left; margin-right:10px; margin-bottom: 5px;">
            </div>

            <aside> 
                <!-- Latest Mars Tweet -->
                <h3> Current Weather on Mars </h3>
                <small> {{data.mars_weather}}</small>

                <br> <br>

                <!--Input HTML Table -->
                <h3> Mars Facts </h3>
                {{data.mars_facts_html | safe}}
            </aside>

        </div>

        <br>

        <!-- Create image grid for hemisphere -->
        <h1 style = "text-align: center;"> Mars Hemispheres </h1>
        <div class="map">
            <div class="row">
                {% for hemisphere in data.hemispheres %}
                <div class="col-sm-6">
                    <img class="img-fluid" class="img-responsive" src="{{hemisphere['img_url']}}">
                    <div class="desc" style = "text-align : center;"> <strong> {{hemisphere['title']}} </strong> </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div> 
</body>
</html>